
<div class="container d-flex p-2">
<% @cocktails.each do |cocktail| %>
  <div class="card-trip">
    <img class="small-image" src=<%= cocktail.url %> />
    <div class="card-trip-infos">
      <div>
      <h2> <%= link_to cocktail.name, cocktail_path(cocktail)%> </h2>
      </div>
    </div>
  </div>
<% end %>
</div>

<%= cl_image_tag("j35mu8vjmf3my3ifuczc",
      width: 400, height: 300, crop: :fill) %>

<!-- for face detection -->
<%= cl_image_tag("k7kuheixr1qejvexacec",
      width: 150, height: 150, crop: :thumb, gravity: :face) %>
